[submodule "peer/external/msgpack-c"]
	path = peer/external/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "peer/external/googletest"]
	path = peer/external/googletest
	url = https://github.com/google/googletest.git
[submodule "peer/external/asio"]
	path = peer/external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "peer/external/curlpp"]
	path = peer/external/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "peer/external/Catch2"]
	path = peer/external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "peer/external/Optional"]
	path = peer/external/Optional
	url = https://github.com/akrzemi1/Optional.git
