[submodule "peer/external/msgpack-c"]
	path = peer/external/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "peer/external/googletest"]
	path = peer/external/googletest
	url = https://github.com/google/googletest.git
[submodule "peer/external/asio"]
	path = peer/external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "peer/external/curlpp"]
	path = peer/external/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "peer/external/Catch2"]
	path = peer/external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "peer/external/Optional"]
	path = peer/external/Optional
	url = https://github.com/akrzemi1/Optional.git
[submodule "peer/external/cxxopts"]
	path = peer/external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "peer/external/SimpleWebServer"]
	path = peer/external/SimpleWebServer
	url = https://gitlab.com/eidheim/Simple-Web-Server.git
[submodule "peer/external/fmt"]
	path = peer/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "peer/external/easyloggingpp"]
	path = peer/external/easyloggingpp
	url = https://github.com/zuhd-org/easyloggingpp.git
[submodule "peer/external/CTPL"]
	path = peer/external/CTPL
	url = https://github.com/vit-vit/CTPL.git
[submodule "peer/external/cppcodec"]
	path = peer/external/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "peer/external/json"]
	path = peer/external/json
	url = https://github.com/nlohmann/json.git
[submodule "peer/external/sole"]
	path = peer/external/sole
	url = https://github.com/r-lyeh-archived/sole.git
[submodule "peer/external/stats"]
	path = peer/external/stats
	url = https://github.com/kthohr/stats.git
[submodule "peer/external/kalman"]
	path = peer/external/kalman
	url = https://github.com/mherb/kalman.git
[submodule "peer/external/eigen"]
	path = peer/external/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "peer/external/UniversalStacktrace"]
	path = peer/external/UniversalStacktrace
	url = https://github.com/MisterTea/UniversalStacktrace.git
[submodule "peer/external/cpp-lru-cache"]
	path = peer/external/cpp-lru-cache
	url = https://github.com/lamerman/cpp-lru-cache.git
[submodule "peer/external/sanitizers-cmake"]
	path = peer/external/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
